<div class="p-4  bg-indigo-800">
    <div class="p-4 bg-white">
        <div class="p-4 grid lg:grid-cols-3">
            <div>
                <p class="text-xl font-semibold">Nome:</p>
                <p class="text-lg">Joel</p>
            </div>
            <div>
                <p class="text-xl font-semibold">Email:</p>
                <p class="text-lg">{{ 'joel@hotmail.com' }}</p>
            </div>
        </div>
        
        <div class="p-4 grid lg:grid-cols-3">
            <div>
                <p class="text-xl font-semibold">País:</p>
                <p class="text-lg">Brasil</p>
            </div>
            <div>
                <p class="text-xl font-semibold">Estado:</p>
                <p class="text-lg">Pernambuco</p>
            </div>
        </div>

        <div class="p-4 grid lg:grid-cols-3">
            <div>
                <p class="text-xl font-semibold">Estado Civil:</p>
                <p class="text-lg">Solteiro</p>
            </div>
            <div>
                <p class="text-xl font-semibold">Renda Mensal:</p>
                <p class="text-lg">R$ 5000,00</p>
            </div>
            <div>
                <p class="text-xl font-semibold">Data de Nascimento:</p>
                <p class="text-lg">08/07/1972</p>
            </div>
        </div>
    </div>
</div>