<!-- O grid aqui serve para poder manipular o comportamento dos cards de acordo com o tamanho da tela. -->
<!-- O gap-4 espaça os cards, e o sm:grid-cols-3 faz com que eles fiquem um do lado do outro a partir do tamanho sm do Tailwind.  -->
<div class="p-4 grid gap-4 sm:grid-cols-3 bg-indigo-700">
<!-- A classe user-card-hover adiciona um escurecimento ao passar o mouse no elemento que a contém. -->
  <mat-card class="user-card-hover">
    <mat-card-header>
      <mat-card-title>Joel</mat-card-title>
      <mat-card-subtitle>{{ "joel@hotmail.com" }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content> </mat-card-content>
  </mat-card>

  <mat-card class="user-card-hover">
    <mat-card-header>
      <mat-card-title>Manoel</mat-card-title>
      <mat-card-subtitle>{{ "manoel@protonmail.com" }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content> </mat-card-content>
  </mat-card>

  <mat-card class="user-card-hover">
    <mat-card-header>
      <mat-card-title>Rafael</mat-card-title>
      <mat-card-subtitle>{{ "rafael@gmail.com" }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content> </mat-card-content>
  </mat-card>
</div>