<div class="p-4 bg-indigo-300 grid gap-4">
    <p class="text-2xl font-semibold">Telefones:</p>
        <div class="p-4 bg-white grid md:grid-cols-3 gap-4">
            <app-user-info-item title="Residencial" text="+55 81 91234-5678" ></app-user-info-item>
            <app-user-info-item title="Celular" text="+55 81 91212-3434" ></app-user-info-item>
            <app-user-info-item title="Emergência" text="-" ></app-user-info-item>
        </div>
    
    <p class="text-2xl font-semibold">Endereços:</p>
        <div class="p-4 bg-white grid md:grid-cols-6 gap-4">
            <app-user-info-item title="Tipo" text="Residencial"></app-user-info-item>
            <app-user-info-item title="Rua" text="Coisa Tal Lá Vai"></app-user-info-item>
            <app-user-info-item title="Complemento" text="Perto do Muro"></app-user-info-item>
            <app-user-info-item title="País" text="Brasil"></app-user-info-item>
            <app-user-info-item title="Estado" text="Parahyba"></app-user-info-item>
            <app-user-info-item title="Cidade" text="Catolé do Rocha"></app-user-info-item>
        </div>
        <div class="p-4 bg-white grid md:grid-cols-6 gap-4">
            <app-user-info-item title="Tipo" text="-"></app-user-info-item>
            <app-user-info-item title="Rua" text="-"></app-user-info-item>
            <app-user-info-item title="Complemento" text="-"></app-user-info-item>
            <app-user-info-item title="País" text="Brasil"></app-user-info-item>
            <app-user-info-item title="Estado" text="-"></app-user-info-item>
            <app-user-info-item title="Cidade" text="-"></app-user-info-item>
        </div>
        <div class="p-4 bg-white grid md:grid-cols-6 gap-4">
            <app-user-info-item title="Tipo" text="Alternativo"></app-user-info-item>
            <app-user-info-item title="Rua" text="Ruazinha"></app-user-info-item>
            <app-user-info-item title="Complemento" text="Monkeys"></app-user-info-item>
            <app-user-info-item title="País" text="Brasil"></app-user-info-item>
            <app-user-info-item title="Estado" text="Bahia"></app-user-info-item>
            <app-user-info-item title="Cidade" text="Xique-Xique"></app-user-info-item>
        </div>
</div>