<div class="p-4 bg-orange-500">
  <div class="p-4 bg-blue-500 grid sm:grid-cols-3">
    <div class="p-4">
      <p>CPF</p>
      <p>123.123.123-12</p>
    </div>
    
    <div class="p-4">
      <p>Nome:</p>
      <p>Joel</p>
    </div>

    <div class="p-4">
      <p>Idade</p>
      <p>69</p>
    </div>
  </div>
</div>

<div class="p-10"></div>

<div class="p-4 bg-red-800">
  <div class="p-4 bg-indigo-700 grid md:grid-cols-2 lg:grid-cols-4">
    <div class="p-4">
      <p>CNPJ:</p>
      <input class="bg-gray-400" type="text" />
    </div>
    <div class="p-4">
      <p>Nome da Empresa:</p>
      <input class="bg-gray-400" type="text" />
    </div>
    <div class="p-4">
      <p>Nome do Proprietário:</p>
      <input class="bg-gray-400" type="text" />
    </div>
    <div class="p-4">
      <p>Número de Telefone:</p>
      <input class="bg-gray-400" type="text" />
    </div>
    <div class="p-4">
      <p>CNPJ:</p>
      <input class="bg-gray-400" type="text" />
    </div>
    <div class="p-4">
      <p>Nome da Empresa:</p>
      <input class="bg-gray-400" type="text" />
    </div>
    <div class="p-4">
      <p>Nome do Proprietário:</p>
      <input class="bg-gray-400" type="text" />
    </div>
    <div class="p-4">
      <p>Número de Telefone:</p>
      <input class="bg-gray-400" type="text" />
    </div>
  </div>
</div>
